<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="shopping"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=10.18.5.227; Initial Catalog=shoppingdb; User ID=shopowner; Password=password;
           Connect Timeout=10; Persist Security Info=True;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>